$base-size: 12px;
$main-theme: #7f8c8d;
$free-table: rgba(0, 255, 0, .6);
$main-font-family: 'Roboto';


//Pizzeria
$color-dark: #333;
$color-light: #fff;
$color-main: #ff6b6b;
$color-warning: #f6b93b;
$color-danger: #e55039;
$color-success: #78e08f;
$font-header: 'Roboto';
$font-text: 'Roboto';
$booked-table: #333;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$transition: all .3s;
$radius: 4px;

$base-size: 12px;
