@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $main-font-family;
}

.tablesWrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  border: 1px solid $main-theme;
  border-radius: 8px;
}

.floor {
 position: relative;
 width: 480px;
 height: 480px;
 border: 18px solid $color-dark;
 margin: ($base-size * 4) auto;
 background: linear-gradient(to right, #e9dfc4 0%, #e9dfc4 1%, #ede3c8 2%, #ede3c8 24%, #ebddc3 25%, #e9dfc4 48%, #ebddc3 49%, #e6d8bd 52%, #e6d8bd 53%, #e9dbc0 54%, #e6d8bd 55%, #e6d8bd 56%, #e9dbc0 57%, #e6d8bd 58%, #e6d8bd 73%, #e9dbc0 74%, #e9dbc0 98%, #ebddc3 100%);
 background-size: ($base-size * 3);
 background-repeat: repeat;

  > * {
   position: absolute;
   text-align: center;
   vertical-align: center;
 }

  .object {
   background: #f7f1e3;
   box-shadow: 0 0 9px rgba(0,0,0,0.2);
 }

  .entry {
   bottom: -36px;
   left: 50%;
   width: 150px;
   height: 27px;
   line-height: 25px;
   transform: translate(-50%, -50%);
   box-shadow: none;
   background: #ede3c8;
   border: 1px solid $color-dark;
   border-width: 0 9px 0 9px;
 }

  .bar {
   left: 0;
   bottom: 75px;
   width: 150px;
   height: 75px;
   line-height: 75px;
 }

  .table {
   width: 105px;
   height: 105px;
   line-height: 105px;
   transform: rotate(45deg);
   background: $free-table;
   transform-origin: 50% 50%;
   cursor: pointer;

    &::after {
      border-radius: 50%;
    }


    &.booked {
     cursor: not-allowed;
     color: lighten($color-dark, 40%);

      &::after {
       position: absolute;
       content: '';
       width: 100%;
       height: 100%;
       left: 0;
       top: 0;
       background: $color-dark;
       opacity: 0.4;
     }
    }
    &.clicked-table{
      background-color: RGBA(0, 255, 0, 40%);
    }
 }

 .radius {
   border-radius: 50%;
 }

  .table1 {
   left: 60px;
   top: 60px;
 }

  .table2 {
   right: 37px;
   top: 37px;
   width: 150px;
   height: 150px;
   line-height: 150px;
 }

  .table3 {
   right: 60px;
   top: 270px;
 }
}
