@import '../../../styles/settings.scss';

.component {
  padding: $base-size 0;
  text-decoration-line: none;
  color: inherit;
}

.root {
  width: 80%;
}

.nav {
  display: flex;
  cursor: pointer;
}

.subMenu {
  margin-top: 50px;
}
